[Unit]
Description=Llama.cpp Server for Qwen 2.5 14B
After=network.target Sprv-node.service

[Service]
User=nysa21
ExecStart=/opt/llama-qwen.service.d/llama-server-run.sh

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
